.button {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  height: 50px;
  width: 100%;
  font-weight: bolder;
  border-radius: 5px;
}

.primary {
  background-color: #5FBB6D;
}

.danger {
  background-color: red;
}