.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
  height: 500px;
  margin-top: 5rem;
  border-radius: 5px;
  padding: 4rem 0;
  box-shadow: 3px 3px 20px rgba(0,0,0,0.18);
}

form {
  display: grid;
  grid-row-gap: 2.5rem;
  justify-items: flex-start;
}